extends layout

block content
  h1#brand
    .icon ?
    span= title
  p Welcome to #{title}

  ul.quizzes
    each quiz in quizzes
      li
        a(href= '/quiz/' + quiz._id)!= quiz.name + ' <i>(' + quiz.questions.length + ')</i>'

