doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrap
      .container
        header.clearfix
          h1.brand
            a(href='/')
              .icon ?
              span= app_title
          .nav
            a.join(href='/join') join in
        .content
          block content
