extends layout

block content
  h1 Login back into the show
  form.form.login-form(action='/login', method='post')
    if (typeof error !== 'undefined')
      .error= error
    .clearfix
      div.field
        label Name
        input(type='text', name='name')
      div.field
        label Secret
        input(type='password', name='secret')
      button(type='submit') Login

