extends layout

block content

  h1= quiz.name
  .body= quiz.body

  h2 Questions <i>(#{ quiz.questions.length })</i>
  ol.questions
    each q in quiz.questions
      li= '' + q.question

  .people
    h2 People
