extends layout

block content
  h1 Join the Show!
  form.form.register-form(action='/join', method='post')
    if (typeof error !== 'undefined')
      .error= error
    .clearfix
      div.field
        label Name
        input(type='text', name='name')
      div.field
        label Secret
        input(type='password', name='secret')
      button(type='submit') Join
    //-
      div.clearfix
        h3 Select Character
        ul.avatars
          each avatar in avatars
            li
              label
                img(src=avatar.url, alt=avatar.name)
                input(type='radio', name='avatar', value=avatar.url)

