body {
  padding: 20px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #000;
}
a {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.container {
  width: 900px;
  margin: 0 auto;
}
header {
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
header .brand {
  float: left;
}
header .nav {
  margin-top: 15px;
  float: right;
}
.main {
  width: 70%;
  display: block;
  float: left;
}
.related {
  width: 25%;
  display: block;
  float: right;
}
.brand {
  font-size: 36px;
  margin: 0;
}
.brand a {
  text-decoration: none;
}
.brand span {
  line-height: 36px;
}
.brand .icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  background: #fff;
  color: #000;
  text-align: center;
  -webkit-border-radius: 200%;
  border-radius: 200%;
  margin-right: 10px;
  font-size: 28px;
}
.join {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #008000;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.exit {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  background: #dc143c;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.quizzes li,
.questions li {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}
.quizzes li a,
.questions li a {
  text-decoration: none;
}
.quizzes {
  list-style: none;
  margin: 0;
  padding: 0;
}
.quizzes .status {
  margin-right: 10px;
}
.quizzes .title {
  margin-right: 10px;
}
.quizzes .total {
  margin-right: 10px;
  color: #555;
}
.quizzes .format {
  color: #555;
}
.questions li.asked {
  color: #555;
  font-style: italic;
}
.messages {
  margin: 0;
  padding: 0;
  list-style: none;
}
.messages li {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}
.status {
  padding: 2px 6px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
  background: #222;
  color: #fff;
  font-style: italic;
}
.status.active {
  background: #006400;
  font-style: normal;
}
.status.inactive {
  background: #555;
  font-style: normal;
}
.off-air {
  height: 300px;
  overflow: hidden;
  padding: 0;
  display: block;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(0.14285714285714288, #fff), color-stop(0.14285714285714288, #eaea00), color-stop(0.28571428571428575, #eaea00), color-stop(0.28571428571428575, #00eaff), color-stop(0.4285714285714286, #00eaff), color-stop(0.4285714285714286, #00ea00), color-stop(0.5714285714285715, #00ea00), color-stop(0.5714285714285715, #ea00ff), color-stop(0.7142857142857143, #ea00ff), color-stop(0.7142857142857143, #ea0001), color-stop(0.8571428571428572, #ea0001), color-stop(0.8571428571428572, #0000fe), color-stop(1, #0000fe));
  background: -webkit-linear-gradient(left, #fff 0%, #fff 14.285714285714286%, #eaea00 14.285714285714286%, #eaea00 28.571428571428573%, #00eaff 28.571428571428573%, #00eaff 42.85714285714286%, #00ea00 42.85714285714286%, #00ea00 57.142857142857146%, #ea00ff 57.142857142857146%, #ea00ff 71.42857142857143%, #ea0001 71.42857142857143%, #ea0001 85.71428571428572%, #0000fe 85.71428571428572%, #0000fe 100%);
  background: -moz-linear-gradient(left, #fff 0%, #fff 14.285714285714286%, #eaea00 14.285714285714286%, #eaea00 28.571428571428573%, #00eaff 28.571428571428573%, #00eaff 42.85714285714286%, #00ea00 42.85714285714286%, #00ea00 57.142857142857146%, #ea00ff 57.142857142857146%, #ea00ff 71.42857142857143%, #ea0001 71.42857142857143%, #ea0001 85.71428571428572%, #0000fe 85.71428571428572%, #0000fe 100%);
  background: -o-linear-gradient(left, #fff 0%, #fff 14.285714285714286%, #eaea00 14.285714285714286%, #eaea00 28.571428571428573%, #00eaff 28.571428571428573%, #00eaff 42.85714285714286%, #00ea00 42.85714285714286%, #00ea00 57.142857142857146%, #ea00ff 57.142857142857146%, #ea00ff 71.42857142857143%, #ea0001 71.42857142857143%, #ea0001 85.71428571428572%, #0000fe 85.71428571428572%, #0000fe 100%);
  background: -ms-linear-gradient(left, #fff 0%, #fff 14.285714285714286%, #eaea00 14.285714285714286%, #eaea00 28.571428571428573%, #00eaff 28.571428571428573%, #00eaff 42.85714285714286%, #00ea00 42.85714285714286%, #00ea00 57.142857142857146%, #ea00ff 57.142857142857146%, #ea00ff 71.42857142857143%, #ea0001 71.42857142857143%, #ea0001 85.71428571428572%, #0000fe 85.71428571428572%, #0000fe 100%);
  background: linear-gradient(left, #fff 0%, #fff 14.285714285714286%, #eaea00 14.285714285714286%, #eaea00 28.571428571428573%, #00eaff 28.571428571428573%, #00eaff 42.85714285714286%, #00ea00 42.85714285714286%, #00ea00 57.142857142857146%, #ea00ff 57.142857142857146%, #ea00ff 71.42857142857143%, #ea0001 71.42857142857143%, #ea0001 85.71428571428572%, #0000fe 85.71428571428572%, #0000fe 100%);
  position: relative;
}
.off-air h2 {
  width: 100%;
  padding: 20px 0;
  background: rgba(0,0,0,0.6);
  text-align: center;
  display: block;
  position: absolute;
  bottom: 0;
  margin: 0;
}
.current-question {
  padding: 0;
  height: 300px;
  background: rgba(255,255,255,0.1);
  text-align: center;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  display: block;
  overflow: hidden;
}
.current-question .progress {
  font-size: 16px;
  font-weight: normal;
}
.current-question .current {
  position: absolute;
  left: 10px;
  top: 10px;
}
.current-question .points {
  position: absolute;
  right: 10px;
  top: 10px;
}
.current-question .title {
  padding-top: 100px;
  margin: 0 100px 30px;
}
.current-question .choices {
  list-style: none;
  margin: 0;
  padding: 0;
}
.current-question .choices li {
  display: inline-block;
  margin: 0;
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right: 20px;
  background: rgba(255,255,255,0.2);
}
.quiz .details {
  margin-bottom: 30px;
}
.quiz .details .inactive {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.quiz .details .active {
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
.quiz .details .title {
  font-size: 16px;
  margin-right: 10px;
}
.quiz .details .status {
  margin-right: 10px;
}
.quiz .off-air {
  display: none;
}
.quiz.playing .off-air {
  display: none;
}
.quiz.playing .current-question {
  display: block;
}
.quiz.playing .details .inactive {
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
.quiz.playing .details .active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.quiz.paused .off-air {
  display: block;
}
.quiz.paused .current-question {
  display: none;
}
.quiz.admin .inactive,
.quiz.admin .active {
  cursor: pointer;
}
.avatars {
  display: block;
  max-height: 210px;
  overflow-y: scroll;
  list-style: none;
  margin: 0;
  padding: 0;
}
.avatars li {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
  text-align: center;
}
.avatars li img {
  max-width: 32px;
}
.avatars li input {
  display: none;
}
.avatars li:hover img {
  -webkit-transform: scale(3);
  -moz-transform: scale(3);
  -o-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
}
.form {
  width: 100%;
  margin: 0;
}
.form .field-group {
  zoom: 1;
  display: block;
  margin-bottom: 20px;
}
.form .field-group:before,
.form .field-group:after {
  content: "";
  display: table;
}
.form .field-group:after {
  clear: both;
}
.form .field-group label {
  width: 20%;
  font-size: 18px;
  display: inline-block;
  margin-right: 5%;
  text-align: right;
  float: left;
}
.form .field-group .field {
  width: 65%;
  display: inline-block;
  float: left;
}
.form .field-group .field input {
  width: 100%;
  font-size: 18px;
  border: none;
  padding: 10px;
}
.form .field-group .field .help {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}
.form button[type='submit'] {
  float: left;
  font-size: 20px;
  font-weight: bold;
  background: #008000;
  padding: 10px 20px;
  color: #fff;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-left: 25%;
}
.error {
  margin-bottom: 20px;
  background: #dc143c;
  color: #fff;
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
